*{
  box-sizing: border-box;
  font-family: 'Merienda', cursive, "游教科書体","YuKyokasho";
  letter-spacing: 0.15em;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.font-small{
  font-size:13px;
  padding-left:8px;
}
body{
  scroll-snap-type: y mandatory;
}
img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* セクション初期値 */
header,section{
  position: relative;
  width:100vw;
  height:100vh;
  background-color: rgba(0,0,0,.7);
  overflow: hidden;
  scroll-snap-align: start;
}
section{
  display: none;
}
/* 背景スライダー設定 */
.slider{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width:100vw;
  height:100vh;
  background-color: #000000;
}
.slider__item{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  opacity: 0;
  animation  : slideAnime 40s infinite;
}
.slider__item:nth-child(even){
  animation  : slideAnime 40s infinite;
  animation-delay: 20s;
}
.slider__item img{
  width:100%;
  height:100%;
  object-fit: cover;
}

@keyframes slideAnime{
  0% { opacity: 0;}
 10% { opacity: 1;}
 50% { opacity: 1;}
 60% { opacity: 0;}
 100% { opacity: 0;}
}
