/* ヘッダー */
.portfolio__titles{
  position: absolute;
  top:50%;
  left:50%;
  width: 540px;
  height: 160px;
  transform: translateX(-30%) translateY(-50%);
  text-align: center;
}
.is-fixed  {
  position:  fixed;
  transform: translateX(-30%) translateY(10%);
  top: 0;
  z-index: 2;
}

.portfolio__titles__title{
  font-size: 80px;
  color: rgba(0,0,0,0);
  text-shadow: 0px 0px 3px rgba(255, 255, 230, .3);
  transition: 1.5s;
  cursor: pointer;
}
.portfolio__titles__title:hover{
  text-shadow: 0px 0px 1.5px rgba(255, 255, 230, .9);
}
.portfolio__titles__title.active{
  text-shadow: 0px 0px 0.5px rgba(255, 255, 230, .9);
}

.portfolio__titles__navigations{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
}
.portfolio__titles__navigations a{
  position: relative;
  font-size: 40px;
  color: rgba(255, 255, 230, .5);
  transition: .05s;
}
.portfolio__titles__navigations a:hover{
  color: rgba(255, 255, 230, .9);
}
.portfolio__titles__navigations a span{
  animation: letter-glow 0.7s 0s ease both;
  display:inline-block;
  transition: .05s;
  opacity: 0; 
  text-shadow: 0px 0px 1px rgba(255,255,255,0.1)
}
/* レターグローアニメーション */
.portfolio__titles__navigations a span:nth-child(1){
  animation-delay: .2s; 
}
.portfolio__titles__navigations a span:nth-child(2){
  animation-delay: .4s; 
}
.portfolio__titles__navigations a span:nth-child(3){
  animation-delay: .6s; 
}
.portfolio__titles__navigations a span:nth-child(4){
  animation-delay: .8s; 
}
.portfolio__titles__navigations a span:nth-child(5){
  animation-delay: 1s; 
}
.portfolio__titles__navigations a span:nth-child(6){
  animation-delay: 1.2s; 
}
@keyframes letter-glow{
  0%   { opacity: 0; text-shadow: 0px 0px 1px rgba(255,255,255,0.1)}
  66%  { opacity: 1; text-shadow: 0px 0px 20px rgba(255,255,255,0.9) }
  77%   { opacity: 1;  }
  100% { opacity: 1; text-shadow: 0px 0px 20px rgba(255,255,255,0.0)}
}
/* ホバーアニメーション */
.portfolio__titles__navigations a::before{
  width:0%;
  opacity: 0;
  height:1px;
  background-color: rgba(255, 255, 230, .9);
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  transition: .5s;
  transition-timing-function:ease-out;
}
.portfolio__titles__navigations a:hover::before{
  width:100%;
  opacity: 1;
}
.portfolio__titles__navigations a::after{
  width:60px;
  opacity: 0;
  height:60px;
  background:url(../images/windpen.png);
  background-size: cover;
  content: "";
  display: block;
  position: absolute;
  top:-7px;
  left:-3px;
  transform: translateX(0%) rotate(20deg);
  transition: .5s;
  transition-timing-function:ease-out;
}
.portfolio__titles__navigations a:hover::after{
  transform: translateX(200%) rotate(20deg);
  opacity: 1;
}

.portfolio__titles__navigations a:hover > span:nth-child(1){
  transform: rotate(-5deg);
}
.portfolio__titles__navigations a:hover > span:nth-child(2){
  transform: rotate(-10deg);
}
.portfolio__titles__navigations a:hover > span:nth-child(3){
  transform: rotate(8deg);
}
.portfolio__titles__navigations a:hover > span:nth-child(4){
  transform: rotate(7deg);
}
.portfolio__titles__navigations a:hover > span:nth-child(5){
  transform: rotate(-4deg);
}
