/* セクション01 */
.about__boxes{
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 160px 30px 40px;
}
.about__box:first-child::after{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  transition: .5s;
}
.about__box:first-child:hover::after{
  background-color: rgba(0,0,0,0);
}

.about__box:nth-child(2)::after{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  transition: .5s;
}
.about__box:nth-child(2):hover::after{
  width: 20px;
  background-color: rgba(0,0,0,1);
}

.about__box:last-child::after{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
  content: '';
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
  transition: .5s;
}
.about__box:last-child:hover::after{
  height: 20px;
  background-color: rgba(0,0,0,1);
}

.about__box:nth-child(n):hover{
  box-shadow: 0px 0px 1px 0px rgba(255,255,230,0.6);
}

.about__box:nth-child(n):hover::before{
  width: 0;
}

.about__box{
  width: 33%;
  height: 300px;
  display: block;
  position: relative;
  z-index: 1;
  padding: 20px 50px;
  background-color: rgba(222, 210, 191,1);
  box-shadow: 0px 0px 8px 1px rgba(255,255,230,0.5);
}

.about__box::before{
  content: "";
  position: absolute;
  z-index: 5;
  width: 80%;
  height: 2px;
  border-radius: 1px;
  background-color: rgba(222, 210, 191,1);
  top: 50%;
  left: 0;
  transition: .5s;
}


.about__box:nth-child(2){
  top: 100%;
  transform: translateY(-100%);
}

.about__box:last-child{
  top: 50%;
  transform: translateY(-50%);
}

.about__box__title{
  margin: 20px 0px 0px 50px;
  font-size: 32px;
  transition: .5s;
  color: rgba(222, 210, 191,1);
  transform: translateY(200%);
  position: relative;
  z-index: 4;
}

.about__box:hover > .about__box__title{
  color: rgba(0, 0, 0,1);
  transform: translateY(0);
}

.about__box__text{
  margin: 20px 0px 0px 0px;
  font-size: 18px;
  line-height: 1.5em;
  opacity: 0;
  transition: .5s;
}

.about__box:hover > .about__box__text{
  opacity: .9;
  transition: 2s;

}

/* セクション02 */


.section--works{
  padding: 160px 30px 20px;

}

.cards{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cards__card{
  width:30%;
  height: 450px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(222, 210, 191,1);
  border-radius: 5px;
  transition: .5s;
  box-shadow: 0px 0px 10px 3px rgba(255,255,230,0.4);
}

.cards__card:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 8px 7px rgba(255,255,230,0.6);
}

.cards__card__image{
  width:100%;
  height: 350px;
}

.cards__card__texts{
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}

.cards__card__texts__title{
  font-size: 24px;
  margin: 10px 0px 0px 25px;
  letter-spacing: 0.2em;
}

.cards__card__texts__detail{
  font-size: 18px;
  margin: 13px 0px 0px 15px;
  letter-spacing: 0.5em;
}

.modal{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba( 0, 0, 0, 0.4);
  z-index: 10;
}

.modal__contents{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 75%;
  height: 75%;
  background-color: rgba(222, 210, 191,1);
  border-radius: 5px;
  box-shadow: 0px 0px 8px 7px rgba(255,255,230,0.6);
}

.modal__contents__title{
  width: 100%;
  height: 50px;
  text-align: center;
  margin: 50px 0;
  font-size: 56px;
  letter-spacing: 0.5em;
}


.modal__contents__under{
  width: 100%;
  height: calc(100% - 150px);
  padding: 20px;
  display: flex; 
  justify-content: space-around;
}

.slide__main-image{
  width:450px;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.slide__images{
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 10px;
}

.slide__images__image{
  width: 100%;
  height: 100px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 30px;
}

.slide__texts{
  width: calc(100% - 560px);
  height: 100%;
}
.slide__texts__text{
  padding: 30px;
}

.slide__texts__text h2{
  font-size: 24px;
  margin-bottom: 30px;
}

.slide__texts__text p{
  font-size: 18px;
}
/* .about-book {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 430px;
  cursor: pointer;  
  padding-bottom: 10px;
  background-color: #734E30;
  box-shadow: -2px 0 0 0 #734E30,2px 5px 1px 4px rgba(0,0,0,.2);
  -webkit-transition: all 2.5s ease;
          transition: all 2.5s ease;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 0 150%;
          perspective-origin: 0 150%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.about-book__inbox {
  box-sizing: border-box;
  height: 100%;
  padding: 40px;
  transition: all 1.8s ease;
  transition-delay: .3s;
  background-image: url(../images/oldpaper.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 8px 0 0 #afada3,200px 0 1px 0 rgba(0,0,0,.4) inset,-2px 0 0 0 #815A28;
}
.about-book__inbox li{
  margin: 12px 0 0 10px;
}

.about-book.active{
  transform: translate(-10%, -50%);
}
.about-book.active .about-book__inbox {
  box-shadow: 0 8px 0 0 #afada3,-0 0 8px 0 rgba(0,0,0,.0) inset,-2px 0 0 0 #815A28;
}
.about-book::before, .about-book::after {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: calc( 100% - 10px);
  -webkit-transition: all 2.5s ease;
          transition: all 2.5s ease;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
}
.about-book::before {
  font-size: 3em;
  content: 'About Me';
  -webkit-transform: rotateY(0deg) translateZ(1px);
          transform: rotateY(0deg) translateZ(1px);
  text-align: center;
  padding-top: 187px;
  box-sizing: border-box;
  color: #fff;
  background-image: url(../images/magicbook.jpeg);
  background-size: cover;
  box-shadow: 0 2px 0 0 #734E30;
  text-shadow: -1px -1px 0 rgba(0,0,0,.4);
}
.about-book::after {
  content: '';
  -webkit-transform: rotateY(0deg) translateZ(0px);
          transform: rotateY(0deg) translateZ(0px);
  background-color: #5c3e26;
}
.about-book.active::before {
  -webkit-transform: rotateY(-185deg) translateZ(1px);
          transform: rotateY(-185deg) translateZ(1px);
}
.about-book.active::after {
  -webkit-transform: rotateY(-185deg) translateZ(0px);
          transform: rotateY(-185deg) translateZ(0px);
  background-color: #C47600;
}
.fadein{
  display: none;
} */